<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <div onclick="backToMainMenu()">My application</div>

        <% if (role == 'admin') { %>
            <button class="customButton" style="background-color: #ddd; font-size: 14px;" onclick="openModal(addTestModal)">
                Добавить тест
            </button>
        <% } %>
    </header>

    <main>
        <div class="main-container">
            <div class="thisArticle-container">
                <div class="thisArticle-name" onclick="backToText()"></div>
            </div>

            <div class="thisArticleText-container"></div>

            <div class="thisArticleTest-container" hidden></div>

            <div class="thisArticleFooter-container">
                <div class="thisArticleTestPass">
                    <i class="bi bi-play-circle-fill"></i>
                    <div>Пройти тест</div>
                </div>

                <div class="thisArticleTestFinish" onclick="submitAnswer()" hidden>
                    <i class="bi bi-play-circle-fill"></i>
                    <div>Отправить</div>
                </div>
            </div>
        </div>
    </main>

    <modals>
        <% if (role == 'admin') { %>
            <dialog id="addTestModal" class="modal-container" style="width: 800px;">
                <div style="font-size: 22px;">Добавить тест</div>
    
                <div class="addTest-container">
                    <div id="addTest-item-0">
                        <div class="d-flex">
                            <div style="width: 21px;">1.</div>
                            <input type="text" class="addTest-question w-100" style="margin-bottom: 12px;" placeholder="Вопрос">
                        </div>
    
                        <div class="d-flex">
                            <div class="addTest-answer-1" style="display: flex;">
                                <input type="radio" name="addTest-input-0" class="me-2" value="A">
                                <input type="text" class="addTest-text w-100" placeholder="Ответ 1">
                            </div>
                            <div class="addTest-answer-2" style="display: flex; margin-inline: 16px;">
                                <input type="radio" name="addTest-input-0" class="me-2" value="B">
                                <input type="text" class="addTest-text w-100" placeholder="Ответ 2">
                            </div>
                            <div class="addTest-answer-3" style="display: flex;">
                                <input type="radio" name="addTest-input-0" class="me-2" value="C">
                                <input type="text" class="addTest-text w-100" placeholder="Ответ 3">
                            </div>
                        </div>
                    </div>

                    <hr>
                </div>

                <div onclick="addQuestion()">+ Добавить вопрос</div>
    
                <div class="d-flex">
                    <button class="btn btn-secondary me-2 w-100" onclick="closeModal(addTestModal)">Закрыть</button>
    
                    <button class="btn btn-success ms-2 w-100" onclick="addTest()">Добавить</button>
                </div>
            </dialog>
        <% } %>
    </modals>

    <script src="/js/article.js"></script>
</body>
</html>