<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <title>Safety | Home</title>
</head>
<body>
    <header>
        <div>Safety</div>

        <input type="checkbox" id="isAdmin" hidden <% if (role == 'admin') { %> checked <% } %>>

        <div onclick="logout()">Выйти</div>
    </header>
    
    <main>
        <div class="main-container">
            <div class="head-container">
                <div id="userName"><%= name %></div>

                <div class="d-flex" style="color: #777;">
                    <i class="bi bi-person-circle me-2"></i>
                    <div id="userRole"><%= job %></div>
                </div>

                <div class="find-container">
                    <input class="findArticle-input" placeholder="Найти запись">
                </div>
            </div>

            <div class="catalog-container">
                <div style="font-size: 36px; font-family: inter-medium;">Каталог</div>

                <div class="catalog-allTypes">
                    <div class="catalog-type active">
                        <span>Новые</span>
                    </div>
                    <div class="catalog-type" style="opacity: .5;">
                        <span>Обязательные</span>
                    </div>
                    <div class="catalog-type" style="opacity: .5;">
                        <span>Дополнительные</span>
                    </div>
                </div>

                <div class="articles-container">
                    <% if (role == 'admin') { %>
                        <div class="article-card f-center" style="margin-bottom: 25px;" onclick="openModal(addArticleModal)">
                            <i class="bi bi-plus-lg" style="font-size: 52px; color: #777;"></i>
                        </div>
                    <% } %>
                </div>
            </div>

            <% if (role == 'admin') { %>
                <div class="catalog-container">
                    <div style="font-size: 36px; font-family: inter-medium;">Пользователи</div>

                    <div class="f-between">
                        <div class="setting-text" onclick="openModal(addUserModal)">
                            + Добавить пользователя
                        </div>

                        <button class="customButton" style="background-color: #b43a45; color: #fff;" onclick="deleteUser()">
                            Удалить
                        </button>
                    </div>

                    <div class="users-container"></div>
                </div>
            <% } %>
        </div>
    </main>

    <modals>
        <% if (role == 'admin') { %>
            <dialog id="addUserModal" class="modal-container">
                <div style="font-size: 22px;">Добавить пользователя</div>
    
                <input type="text" id="add-login" placeholder="Логин">
    
                <input type="text" id="add-password" placeholder="Пароль">
    
                <input type="text" id="add-name" placeholder="Имя пользователя">
                
                <input type="text" id="add-job" placeholder="Должность">
    
                <div class="d-flex">
                    <button class="btn btn-secondary me-2 w-100" onclick="closeModal(addUserModal)">Закрыть</button>
    
                    <button class="btn btn-success ms-2 w-100" onclick="addUser()">Добавить</button>
                </div>
            </dialog>

            <dialog id="addArticleModal" class="modal-container" style="width: 600px;">
                <div style="font-size: 22px;">Добавить статью</div>
    
                <input type="text" id="addArticle-name" placeholder="Название">

                <input type="text" id="addArticle-text" placeholder="Описание">
    
                <textarea id="addArticle-fullText" rows="20" placeholder="Текст"></textarea>
    
                <div class="d-flex">
                    <button class="btn btn-secondary me-2 w-100" onclick="closeModal(addArticleModal)">Закрыть</button>
    
                    <button class="btn btn-success ms-2 w-100" onclick="addArticle()">Добавить</button>
                </div>
            </dialog>

            <dialog id="passedArticleModal" class="modal-container" style="width: 600px;">
                <div style="font-size: 22px;">Пройденные статьи</div>

                <div class="passedArticle-container"></div>
                
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-secondary w-50" onclick="closeModal(passedArticleModal)">Закрыть</button>
                </div>
            </dialog>
        <% } %>
    </modals>

    <script src="/js/index.js"></script>
</body>
</html>