<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Safety | Login</title>
    <style>
        @font-face {
            font-family: inter-medium;
            src: url(/css/Inter-Medium.ttf);
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            height: 100vh;
            font-family: inter-medium;
        }

        .loginForm {
            width: 300px;
            padding: 24px;
            background: #fafafa;
            border: 1px solid #d2d2d2;
            border-radius: 12px;
        }

        input, button {
            width: 100%;
            height: 32px;
            margin-top: 16px;
            padding-inline: 12px;
            border: 1px solid #d2d2d2;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="loginForm">
        <div class="d-flex justify-content-center" style="font-size: 20px;">Авторизация</div>
        <input type="text" id="username" placeholder="Введите логин" required>
        <input type="password" id="password" placeholder="Введите пароль" required>
        <button onclick="auth()">Войти</button>
    </div>

    <script>
        function auth() {
            let data = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            }

            submitRequest('/auth', 'post', data)
                .then(res => {
                    window.location.href = '/';
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                })
        }

        function submitRequest(url, method, data) {
            let requestOptions = {
                method: method,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }

            return fetch(url, requestOptions)
                .then(res => {
                    if (!res.ok) {
                        throw new Error(`HTTP error! Status: ${res.status}`);
                    }
                    return res.json();
                })
                .catch(error => {
                    console.error('Error:', error);
                })
        }
    </script>
</body>
</html>