@font-face {
    font-family: inter-medium;
    src: url(/css/Inter-Medium.ttf);
}

@font-face {
    font-family: inter-regular;
    src: url(/css/Inter-Regular.ttf);
}

/* fast css */
.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-wrap {
    display: flex;
    flex-wrap: wrap;
}

body {
    /* margin: 0; */
    font-family: inter-regular !important;
    color: #333 !important;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.main-container {
    width: 100%;
    max-width: 710px;
}

#userName {
    font-family: inter-medium;
    font-size: 24px;
}

#userRole {
    font-family: inter-medium;
}

.find-container {
    height: 60px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    margin-top: 32px;
    padding-inline: 16px;
    border-radius: 4px;
}

.findArticle-input {
    width: 320px;
    height: 32px;
    padding-inline: 32px 8px;
    border: 0;
    border-radius: 4px;
}

.catalog-container {
    margin-top: 32px;
}

.catalog-allTypes {
    display: flex;
    margin-top: 24px;
    border-bottom: 1px solid #d9d9d9;
}

.catalog-type span {
    margin-inline: 16px;
    font-size: 20px;
    font-family: inter-medium;
}

.catalog-type.active {
    color: #198754;
    border-bottom: 4px solid #198754;
}

/* Articles */
.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    /* font-family: inter-regular; */
}

.article-card {
    position: relative;
    width: 220px;
    height: 210px;
    padding: 16px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 0 8px #00000015;
}

.article-text-container {
    width: 60%;
    height: fit-content;
}

.article-name {
    font-family: inter-medium;
    word-wrap: break-word;
    margin-bottom: 8px;
}

.article-text {
    font-size: 12px;
    word-wrap: break-word;
    color: #777;
}

.article-img-container {
    display: flex;
    justify-content: right;
    width: 40%;
    height: fit-content;
}

.article-card img {
    width: 52px;
}

.article-info {
    position: absolute;
    left: 16px;
    bottom: 12px;
    display: flex;
    font-size: 12px;
    color: #777;
}

.article-info div {
    display: flex;
    align-items: center;
}

.article-info i {
    font-size: 16px;
}

.setting-text {
    font-family: inter-medium;
}

.customButton {
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
    font-family: inter-medium;
    color: #fff;
    background-color: #B43A45;
}

.users-container {
    margin-top: 16px;
}

.user-item {
    display: flex;
    justify-content: space-between;
    font-family: inter-medium;
    padding: 16px;
    border-bottom: 1px solid #333;
}

/* thisArticle elements */
.thisArticle-name {
    font-family: inter-medium;
    font-size: 32px;
}

.thisArticleText-container {
    margin-top: 32px;
}

.thisArticleTest-container {
    margin-top: 32px;
}

.thisArticleQuestion-container {
    font-family: inter-medium;
    font-size: 20px;
}

.thisArticleAnswer-container {
    font-size: 20px;
    margin-block: 12px 24px;
}

.thisArticleFooter-container {
    display: flex;
    justify-content: right;
    margin-block: 40px;
    font-family: inter-medium;
    font-size: 24px;
}

.thisArticleFooter-container div {
    display: flex;
    align-items: center;
}

.thisArticleFooter-container i {
    margin-right: 16px;
    font-size: 40px;
    color: #198754;
}

.thisArticleAnswer-container {
    display: flex;
    justify-content: space-between;
}

#thisArticleTestFinish {
    display: flex;
    align-items: center;
    background: none;
    border: 0;
}