<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mergen | <%= title %></title>

    <style>
        .flex-center {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 80px;
        }
    </style>
</head>
<body>
    <div class="flex-center">ERROR PAGE</div>
</body>
</html>