<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="icons/bootstrap-icons.css"></link>
    <link rel="stylesheet" href="css/bootstrap.css"></link>
    <link rel="stylesheet" href="css/index.css"></link>
    <link rel="stylesheet" href="css/adaptive.css"></link>

    <title>Mergen | <%= title %></title>
</head>
<body>
    <header class="flex-between">
        <div class="headerText ms-4">
            Mergen
        </div>

        <div class="dropdown me-4">
            <i id="dropdown-account" class="bi bi-person-circle"></i>
            
            <div class="dropdown-menu" style="display: none;">
                <div style="padding-top: 8px;">
                    <span>Темная тема</span>
                    <toggle></toggle>
                </div>
                <div onclick="openModal(setPassword)">
                    Изменить пароль
                </div>
                <div onclick="logout()" style="padding-bottom: 8px;">
                    Выйти
                </div>
            </div>
        </div>

        <div id="setPassword" class="modal_overlay" style="display: none;">
            <div class="modal_block">
                <div class="modal_header flex-between">
                    <div style="font-size: 18px; cursor: default;">Изменить пароль</div>

                    <div class="modal_close" onclick="closeModal(setPassword)">X</div>
                </div>
            
                <div class="modal_body">
                    <div class="input-block">
                        <input type="password" id="oldPassword" class="form-control" placeholder="Старый пароль">
                    </div>
                    <div class="input-block my-2">
                        <input type="password" id="newPassword" class="form-control" placeholder="Новый пароль">
                    </div>

                    <div class="modal_footer">
                        <button class="primary_button w-100 mt-2">
                            Применить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <options class="mb-3" style="opacity: .6">
            <div class="me-3">
                <i class="bi bi-record2 me-1" style="font-size: 20px;"></i>
                <span>REC</span>
            </div>

            <div>
                <i class="bi bi-clock-fill me-2" style="font-size: 14px;"></i>
                <span>* часов</span>
            </div>
	</options> 

        <div class="flex-wrap">
            <div class="col-12 col-sm-6 col-xl-12">
                <div class="video_container">                    
                    <video id="videoElement" autoplay muted controls></video>

                    <input type="hidden" id="loadSource" value="<%= url %>"/>
        
                    <div class="flex-wrap" style="margin-block: 8px;">

                        <div class="col-6 pe-1 pb-1">
                            <button class="startStream primary_button w-100">
                                Старт стрим
                            </button>
                        </div>

                        <div class="col-6 ps-1 pb-1">
                            <button class="stopStream secondary_button w-100">
                                Стоп стрим
                            </button>
                        </div>
                    </div>



                    <!-- <div class="d-flex" style="margin: 8px 0 16px 0;">
                        <div class="col-6 pe-1">
                            <button class="primary_button w-100" onclick="openModal(loadVideo)">
                                Загрузить видео
                            </button>
                        </div>
        
                        <div id="loadVideo" class="modal_overlay" style="display: none;">
                            <div class="modal_block">
                                <div class="modal_header flex-between">
                                    <div style="font-size: 18px; cursor: default;">Видео</div>
                
                                    <div class="modal_close" onclick="closeModal(loadVideo)">X</div>
                                </div>
                            
                                <div class="modal_body d-flex">
                                    <div class="video_card col-6">
                                        <div class="video_container"></div>
                                        <div class="video_text"></div>
                                    </div>
                                    <div class="video_card col-6">
                                        <div class="video_container"></div>
                                        <div class="video_text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-6 ps-1">
                            <button class="secondary_button w-100">
                                Предпросмотр
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-12" style="opacity: .6">
                <div class="settings_container">
                    <div style="margin: 0 0 12px 12px;">
                        Настройки
                    </div>
        
                    <div class="d-flex mb-2">
                        <div class="col-5 settings_text">
                            Битрейт
                        </div>
                        <div class="col-7">
                            <nav class="bitrate_values toggle-nav">
                                <a class="bitrate-item toggle-item">2000</a>
                                <a class="bitrate-item toggle-item active">3000</a>
                                <a class="bitrate-item toggle-item">4000</a>
                                <span class="bitrate-indicator toggle-indicator"></span>
                            </nav>
                        </div>
                    </div>
        
                    <div class="d-flex mb-2">
                        <div class="col-5 settings_text">
                            Длительность
                        </div>
                        <div class="col-7">
                            <nav class="duration_values toggle-nav">
                                <a class="duration-item toggle-item active">5 мин</a>
                                <a class="duration-item toggle-item">10 мин</a>
                                <a class="duration-item toggle-item">20 мин</a>
                                <span class="duration-indicator toggle-indicator"></span>
                            </nav>
                        </div>
                    </div>
        
                    <div class="d-flex mb-2">
                        <div class="col-5 settings_text">
                            Формат
                        </div>
                        <div class="col-7">
                            <nav class="format_values toggle-nav">
                                <a class="format-item toggle-item active">mp4</a>
                                <a class="format-item toggle-item">mkv</a>
                                <a class="format-item toggle-item">ogg</a>
                                <span class="format-indicator toggle-indicator"></span>
                            </nav>
                        </div>
                    </div>
        
                    <div class="view-more">
                        Показать больше...
                    </div>
        
                    <div class="d-flex justify-content-end">
                        <button class="primary_button settings-apply">
                            Применить
                        </button>
                    </div>
                </div>
            </div>
	   
	    <div class="flex-wrap rec-container col-12 col-sm-6 col-xl-12">

                        <div class="col-6 pe-1 pb-2">
                            <button class="connect primary_button w-100">
				Начать запись
                            </button>
                        </div>
                     
                        <div class="col-6 ps-1 pb-2">
                            <button class="disconnect secondary_button w-100">
                                Остановить запись
                            </button>
                        </div>

		<button class="my_files" onclick="GoToFiles()"> Скачать файлы </button>
	    </div>
        </div>
     </div>
	

        <!-- <div class="record_container flex-center">
            <button class="primary_button record_button">
                <div class="record_icon flex-center">
                    <i class="bi bi-camera-video" style="color: var(--main-color);"></i>
                </div>
                <div class="record_text">
                    Начать запись
                </div>
            </button>
        </div> -->
    </main>

    <script src="js/hls.js"></script>

    <script src="js/index.js"></script>
</body>
</html>
