<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="icons/bootstrap-icons.css"></link>
    <link rel="stylesheet" href="css/bootstrap.css"></link>
    <link rel="stylesheet" href="css/index.css"></link>
    <link rel="stylesheet" href="css/fast.css"></link>

    <title>Mergen</title>
</head>
<body>
    <header class="flex-between">
        <div class="headerText ms-4">
            MERGEN
        </div>

        <i id="account" class="bi bi-person-circle"></i>
    </header>

    <main>
        <!-- <nav class="mb-4">
            <div class="videoNav me-4 active">
                Видео
            </div>
            <div class="deviceNav">
                Устройство
            </div>
        </nav> -->

        <input id="loadSource"/>

        <video id="videoElement" width="55%" controls></video>

        <div class="videoControl mt-3">
            <button id="connectButton" class="btn btn-primary me-2">
                Подключить
            </button>
            <button id="disconnectButton" class="btn btn-secondary" disabled>
                Отключить
            </button>
        </div>
    </main>

    <script src="js/hls.js"></script>
    <script src="js/index.js"></script>
</body>
</html>
